# Core
pandas==2.1.3
numpy==1.26.2
scikit-learn==1.3.2
imbalanced-learn

matplotlib
seaborn

# ML Models
xgboost==2.0.2
lightgbm==4.1.0
torch==2.1.1

# Visualization & Explainability
shap==0.43.0

# API (bonus)
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.2

# Utility
jupyter
kagglehub
python-dotenv==1.0.0
joblib>=1.0.1
requests==2.31.0
python-multipart==0.0.6
jinja2==3.1.2
aiofiles==23.2.1

